/* Write your CSS here */
.team-card {
  background-color: #ffffff33;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  min-width: 90%;
  height: 120px;
  margin-right: 20px;
  border-radius: 10px;
  border: solid white 1px;
}
.link-item {
  width: 50%;
  text-decoration: none;
}
.team-image {
  width: 70px;
  margin-right: 20px;
}
.team-name {
  color: white;
  font-size: 20px;
  font-family: Bree serif;
  width: 165px;
  text-align: center;
}
@media (max-width: 767px) {
  .team-image {
    width: 60px;
    margin-right: 5px;
  }
  .team-name {
    font-size: 17px;
  }
  .team-card {
    height: 120px;
  }
}
@media (max-width: 575px) {
  .team-image {
    width: 30%;
    margin-right: 5px;
  }
  .team-name {
    font-size: 10px;
  }
  .team-card {
    height: 90px;
  }
}
